.tarifs {
  background-image: url("../../img/tarifs-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -20px;
}

.tarifs__title {
  padding: 29px 67px 38px 68px;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.tarifs__list {
  @include list-reset;
  padding: 0 21px 55px 21px;
}

.tarifs__item {
  margin-bottom: 30px;

  &:not(:last-child) {
    border: 1px solid #ffffff;
  }
}

.tarifs__item--last {
  background-color: rgba(101, 170, 251, 0.5);
}

.tarifs__name {
  margin-bottom: 25px;
  padding: 18px 27px 15px 27px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #65aafb;
}

.tarifs__price {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  text-decoration-line: line-through;
}

.tarifs__standart {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.tarifs__button {
  display: block;
  margin: 0 20px 29px 20px;
  padding: 16px 52px;
  color: rgba(255, 255, 255, 0.5);
  background: #75b4ff;
  box-shadow: 0 3px 0 #508ad0;
}

.tarifs__button--last {
  color: #4299ff;
  background-color: #ffffff;
  box-shadow: 0 3px 0 #dedede;
}

.tarifs__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 26px 12px 20px;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  background-color: #3883dc;
}

.tarifs__help {
  width: 114px;
}

.tarifs__more {
  width: 62px;
  border-bottom: 1px dashed #ffffff;
}

@media (min-width: 768px) {
  .tarifs__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .tarifs {
    background-image: url("../img/tarifs-bg-desktop.jpg");
    @include page-wrapper;
  }

  .tarifs__list {
    display: grid;
    justify-content: center;
    grid-gap: 61px;
    grid-template-columns: repeat(3, 26%);
    padding: 0;
  }
}
