.button {
  padding: 20px 79px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $main-color;
  box-shadow: 0 3px 0 #5292d2;

  &:hover {
    background-color: #64b1ff;
  }

  &:active {
    background-color: #64b1ff;
    box-shadow: 0 3px 0 #64b1ff;
  }

  &--border {
    color: $main-color;
    background: transparent;
    border: 1px solid #49a3fe;
    box-shadow: none;

    &:hover {
      color: #ffffff;
      background-color: #49a3fe;
    }
  }
}

.button__promo {
  width: 35px;
  min-width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  & svg {
    left: 0;
    width: 15px;
    height: 15px;
    fill: #ffffff;
  }
}
