.circle {
  @include pseudo;
  position: absolute;
  top: 30%;
  right: 22%;
  width: 47px;
  height: 47px;
}

.circle__pin {
  @include pseudo;
  position: absolute;
  background-color: #4299ff;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &--small {
    width: 17px;
    height: 17px;
  }

  &--mid {
    width: 31px;
    height: 31px;
    background: #4299ff;
    opacity: 0.4;
  }

  &--big {
    width: 47px;
    height: 47px;
    background: #4299ff;
    opacity: 0.25;
  }
}
