.contact__block {
  padding: 0 21px;
  background-image: url("../../img/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__title {
  margin-bottom: 35px;
  padding-top: 252px;
  font-size: 23px;
  line-height: 28px;
}

.contact__list,
.contact__sublist {
  @include list-reset;
}

.contact__sublist,
.contact__sublist-social {
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.contact__data {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 15px;

  &--messagers {
    margin-bottom: 9px;
  }

  &--address {
    margin-bottom: 13px;
  }
}

.contact__sublist {
  display: flex;
  justify-content: space-between;
}

.contact__number {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.contact__sublist-social {
  @include list-reset;
  display: flex;
}

.contact__socials {
  margin-right: 10px;
}

.contact__street {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.contact__time {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
}

.contact__feedback {
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}

.contact__block {
  padding-bottom: 50px;
}

.contact__button {
  display: block;
  height: 53px;
  padding: 18px 0 18px 21px;
}

.contact__button span {
  margin-right: 53px;
}

@media (min-width: 768px) {
  .contact {
    padding: 0;
  }

  .contact__block {
    background-image: url("../../img/map-desktop.png");
    background-repeat: no-repeat;
  }

  .contact__button {
    width: 260px;
  }

  .contact__title {
    padding: 0;
    margin-bottom: 60px;
    font-size: 35px;
    line-height: 43px;
  }

  .contact__list {
    display: flex;
  }

  .contact__item {

    &:not(:first-child) {
      margin-left: 35px;
    }

    &--messagers {
      position: relative;
      padding: 0 39px 0 31px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 7px;
        width: 1px;
        height: 72px;
        background-color: rgba(0, 0, 0, 0.08);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  .contact__sublist {
    flex-direction: column;
  }

  .contact__sublist,
  .contact__sublist-social {
    border-bottom: none;
  }

  .contact__number {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: 1200px) {
  .contact__block {
    padding-left: calc(50% - 585px);
    height: 449px;
  }

  .contact__title {
    margin-top: 66px;
  }
}
