.solutions {
  background-color: #f5faff;
}

.solutions__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  padding: 30px 0;
}

.solutions__develop {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  opacity: 0.4;
  padding-bottom: 18px;
}

.solutions__page {
  padding: 0 20px;
}

.solutions__head {
  margin-bottom: 13px;
}

.solutions__legend {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  margin-bottom: 21px;
}

.solutions__text {
  font-size: 12px;
  line-height: 142.52%;
  margin-bottom: 25px;
}

.solutions__target {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
}

.solutions__list {
  @include list-reset;
  margin-bottom: 29px;
}

.solutions__item {
  font-size: 12px;
  line-height: 129.52%;
  position: relative;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/icons/svg/icon-marker-list.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    left: 0;
    top: 3px;
  }
}

.solutions__name {
  font-size: 16px;
  line-height: 134.02%;
  width: 274px;
  padding: 0 21px;
  margin-bottom: 25px;
}

.solutions__advantages {
  @include list-reset;
  padding: 0 20px 25px 22px;
}

.solutions__number {
  font-size: 16px;
  font-weight: 500;
  line-height: 134.02%;
  display: flex;
  align-items: center;
  width: 278px;
  height: 54px;
  background-color: #ffffff;
  margin-bottom: 18px;
}


@media (min-width: 768px) {
  .solutions__wrapper {
    display: flex;
  }

  .solutions__image {
    display: flex;
  }

  .solutions__name {
    width: 100%;
    text-align: center;
  }

  .solutions__advantages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .solutions__title {
    font-size: 28px;
  }

  .solutions__text,
  .solutions__item {
    font-size: 14px;
  }

  .solutions__head,
  .solutions__name {
    font-size: 25px;
  }
}
