.solutions {
  padding: 30px 20px 0 20px;
  background-color: #f5faff;
}

.solutions__title {
  padding: 30px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.solutions__develop {
  padding-bottom: 18px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  opacity: 0.4;
}

.solutions__head {
  margin-bottom: 13px;
}

.solutions__legend {
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
}

.solutions__text {
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 142.52%;
}

.solutions__target {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.solutions__list {
  @include list-reset;
  margin-bottom: 29px;
}

.solutions__item {
  position: relative;
  padding-left: 20px;
  font-size: 12px;
  line-height: 129.52%;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url("../../img/icons/svg/icon-marker-list.svg");
    background-repeat: no-repeat;
  }
}

.solutions__img {
  width: 290.53px;
  height: 170.34px;
}

.solutions__name {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 134.02%;
}

.solutions__advantages {
  @include list-reset;
}

.solutions__number {
  display: flex;
  align-items: center;
  width: auto;
  height: 54px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 134.02%;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .solutions__name {
    width: 100%;
    text-align: center;
  }

  .solutions__advantages {
    display: flex;
    flex-wrap: wrap;
  }

  .solutions__advantage {
    width: calc(50% - 20px);
    margin: 10px;

    &:not(:last-child) {
      margin: 10px;
    }
  }

  .solutions__title {
    font-size: 28px;
  }

  .solutions__text,
  .solutions__item {
    font-size: 14px;
  }

  .solutions__head,
  .solutions__name {
    font-size: 25px;
  }

  .solutions__top {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .solutions {
    padding: 0;
  }

  .solutions__advantages {
    flex-wrap: nowrap;
    padding: 0;
    margin: 0 -10px;
  }

  .solutions__advantage {
    width: auto;
  }

  .solutions__block {
    @include page-wrapper;
  }

  .solutions__top {
    @include page-wrapper;
  }

  .solutions__img {
    width: 722px;
    min-width: 722px;
    height: 458px;
    margin: 0 77px 0 -225px;
  }
}
