.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4299ff;
  padding-top: 20px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__item {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.footer__wrapper--copyright {
  background-color: #2e84e8;
  width: 100%;
  padding: 12px 0;
}

.footer__copyright {
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__list {
    margin: 0;
    padding-left: 0;
  }

  .footer__copyright {
    padding: 0;
    background-color: #4299ff;
  }

  .footer__wrapper--copyright {
    background-color: transparent;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .footer {
    @include page-wrapper;
  }
}
