.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4299ff;
}

.footer__logo {
  padding: 22px 0;
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.footer__item {
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.footer__wrapper--copyright {
  background-color: #2e84e8;
}

.footer__copyright {
  padding: 12px 39px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__list {
    margin: 0;
  }

  .footer__copyright {
    padding: 0;
    background-color: #4299ff;
  }
}

@media (min-width: 1200px) {
  .footer {
    @include page-wrapper;
  }
}
