.link__list {
  @include list-reset;
  padding: 0 20px;
  margin-bottom: 35px;
}

.link__item {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #49a3fe;
  background-color: #ffffff;
  min-width: 279px;
  min-height: 42px;
  padding: 15px 0 10px 0;
  margin-bottom: 10px;
  text-align: center;

  &:active {
    color: #ffffff;
    background: #49a3fe
  }
}

@media (min-width: 768px) {
  .link__list {
    display: flex;
  }

  .link__item {
    min-width: 223px;
    margin: 0 10px;
  }
}
