.link__list {
  @include list-reset;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .link__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .link__item {
    font-size: 14px;
    line-height: 17px;
    height: 54px;
    padding: 0 25px;
  }
}
