.support {
  position: relative;
}

.support__line {
  position: absolute;
  width: 3px;
  height: 100%;
  background: #4299ff;
}

.support__content {
  display: flex;
  padding: 18px;
}

.support__logo {
  margin-right: 20px;
}

.support__text {
  font-size: 12px;
  line-height: 19px;
}

@media (min-width: 1200px) {
  .support__text {
    font-size: 14px;
    line-height: 20px;
  }

  .support__content {
     padding: 37px;
     align-items: center;
  }
  
  .support__logo {
    margin-right: 32px;
    align-items: center;
  }
}
