.burger {
  position: relative;
  width: 27px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 27px;
    height: 2px;
    background-color: #000000;
    border-radius: 29px;
    transition: all 0.3s ease 0s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.burger.active {
  &::before {
    transform: rotate(45deg);
    top: 9px;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 11px;
  }

  span {
    transform: scale(0);
  }
}

.burger__inner {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 21px;
  height: 2px;
  background-color: #000000;
  border-radius: 29px;
  transform: translateY(-50%);
}

@media (min-width: 1200px) {
  .burger {
    display: none;
  }
}
